<label>Pokemon ID:</label>
<input type="number" [(ngModel)]="pokemonId" />
<button (click)="retrievePokemon()">Add Pokemon</button>
<button (click)="myPokemon = []">Clear Pokemon</button>

<!-- Here we rely on the idea of truthy and falsy values for the ngIf -->
<!-- Undefined, null, empty string will be falsy -->
<p *ngIf="errorMessage" [ngStyle]="{'color': 'red' }">{{ errorMessage }}</p>

<h2>Pokemon Table</h2>
<table>
  <thead>
    <tr>
      <th>id</th>
      <th>name</th>
      <th>image</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pokemon of myPokemon">
      <td>{{ pokemon.id }}</td>
      <td>{{ pokemon.name }}</td>
      <td><img [src]="pokemon.sprites.front_default" /></td>
    </tr>
  </tbody>
</table>
